@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Changa:wght@400;700&family=Fredoka+One&display=swap');

body {
    /* background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png"); */
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Archivo Narrow', sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Changa', sans-serif;
  }
  
  .logo {
    font-family: 'Fredoka One', cursive;
  }
  .rounded-full {
    border-radius: 9999px;
  }
  
  .avatar-border {
    border-width: 2px;
    margin-right: 6px;
  }